POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

REDIS_USER=
REDIS_PASSWORD=

RUSTFS_VOLUMES=
RUSTFS_ACCESS_KEY=
RUSTFS_SECRET_KEY=
RUSTFS_SERVER_DOMAINS=
RUSTFS_CONSOLE_ENABLE=
RUSTFS_CONSOLE_CORS_ALLOWED_ORIGINS=
RUSTFS_ADDRESS=
RUSTFS_CONSOLE_ADDRESS=
RUSTFS_OBS_LOGGER_LEVEL=
RUSTFS_UNSAFE_BYPASS_DISK_CHECK=

RI_APP_PORT=
RI_APP_HOST=
RI_LOG_LEVEL=
RI_REDIS_HOST=
RI_REDIS_PORT=
RI_REDIS_USERNAME=
RI_REDIS_PASSWORD=

PGADMIN_LISTEN_PORT=
PGADMIN_DEFAULT_PASSWORD=
PGADMIN_DEFAULT_EMAIL=
# Don't require the user to login
PGADMIN_CONFIG_SERVER_MODE=
# Don't require a "master" password after logging in
  PGADMIN_CONFIG_MASTER_PASSWORD_REQUIRED=